<html lang="ja">
<title>Summer Short Internship 2019</title>
<body>
<h1>
    Todo Management System
</h1>
<h4>2019 Summer Internship Pre-task</h4>

<form method="post">
    <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
        <tr>
            <th bgcolor="#EE0000" width="150"><span style="color: #FFFFFF; ">Title</span></th>
            <th bgcolor="#EE0000" width="200"><span style="color: #FFFFFF; ">Description</span></th>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" valign="top" width="150">
                <label>
                    <input type="text" placeholder="課題のタイトルを入力してください" name="title"/>
                </label>
            </td>
            <td bgcolor="#FFFFFF" valign="top" width="200">
                <label>
                    <input type="text" placeholder="課題の詳細を入力してください" name="description"/>
                </label>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" name="register" value="Register">
</form>
</body>
</html>
