<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<title>Summer Short Internship 2019</title>
<link rel="stylesheet" type="text/css" href="/css/table.css" th:href="@{/css/table.css}">
<body>
<h1>
    Todo Management System
</h1>
<h4>2019 Summer Internship Pre-task</h4>

<form method="post">
    <table>
        <tr>
            <th class="title"><span style="color: #FFFFFF; ">Title</span></th>
            <th class="description"><span style="color: #FFFFFF; ">Description</span></th>
        </tr>
        <tr>
            <td class="title">
                <label>
                    <input type="text" placeholder="課題のタイトルを入力してください" name="title"/>
                </label>
            </td>
            <td class="description">
                <label>
                    <input type="text" placeholder="課題の詳細を入力してください" name="description"/>
                </label>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit" name="register" value="Register">
</form>
</body>
</html>
