<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<title>Summer Short Internship 2019</title>
<link rel="stylesheet" type="text/css" href="/css/table.css" th:href="@{/css/table.css}">
<script type="text/javascript">
    function onButtonClick() {
        window.location.href = './create'
    }
</script>
<body>
<h1>
    Todo Management System
</h1>
<h4>2019 Summer Internship Pre-task</h4>

<table>
    <tr>
        <th class="number"><span style="color: #FFFFFF">No</span></th>
        <th class="title"><span style="color: #FFFFFF">Title</span></th>
        <th class="description"><span style="color: #FFFFFF">Description</span></th>
    </tr>
    <tr th:each="todo:${todoList}">
        <td th:text="${todo.number}"></td>
        <td class="title" th:text="${todo.title}"></td>
        <td class="description" th:text="${todo.description}"></td>
    </tr>
</table>
<br>
<button id="btn" value="Click" onclick="onButtonClick()">Go to the form</button>
</body>
</html>
