table, th, td {
    border: solid 2px #333333;
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: 500px;
}

th.number {
    background-color: #EE0000;
}

th.title {
    background-color: #EE0000;
    width: 150px;
}

th.description {
    background-color: #EE0000;
    width: 200px;
}

td.title {
    width: 150px;
}

td.description {
    width: 200px;
}

td.delete {
    text-align: center;
}
