table, th, td {
    border: solid 2px #333333;
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: 800px;
}

th {
    background-color: #EE0000;
}

th.title {
    width: 150px;
}

th.description {
    width: 200px;
}

th.deadline {
    width: 400px;
}

td.delete {
    text-align: center;
}
